@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
  background-image: url("/public/images/bg.jpg")!important;
  background-size: cover;
}

h3, h2{
  color: #131313!important;
  font-family: "Raleway", sans-serif;
  font-weight: 800!important;
  font-style: normal!important;
  text-transform: uppercase;
}

    .card {
      margin-bottom: 20px;
    }

    .card .card-body {
      padding: 1rem;
    }

    .text-xs {
      font-size: 0.75rem;
    }

    .font-weight-bold {
      font-weight: 700;
    }

    .text-uppercase {
      text-transform: uppercase;
    }

    .shadow {
      box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
    }

    .container {
      max-width: 100%; 
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    .text-xs{
      font-size: 18px;
    }

    .mb-0{
      font-size: 65px;
      font-family: "Raleway", sans-serif;
      font-weight: bolder;
    }

    @media (min-width: 768px) {
      .container {
        max-width: 720px;
      }
    }

    @media (min-width: 992px) {
      .container {
        max-width: 960px;
      }
    }

    @media (min-width: 1200px) {
      .container {
        max-width: 1140px;
      }
    }

    /* Progress */
    .progress {
      height: 10px !important;
      overflow: hidden;
      font-size: .75rem;
      background-color: #e9ecef;
      border-radius: .25rem;
    }
    .card {
      border: 1px !important;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .card-header {
      background-color: #f8f9fc;
      border-bottom: none;
      border-radius: 10px 10px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
    }
    .card-header h6 {
      margin: 0;
      color: #4e73df;
    }
    .card-body {
      padding: 20px;
    }
    .progress {
      height: 20px;
      border-radius: 10px;
      background-color: #e9ecef;
      overflow: hidden;
    }
    .progress-bar {
      border-radius: 10px;
      background-color: #5681ff !important;
    }

    
    h4{
      font-style:italic;
      text-transform:uppercase;
      font-weight:400;
    }
    body {
      overflow: hidden;
    }
    .card {
      height: 100%;
      transition: transform 0.2s, box-shadow 0.2s;
      cursor: pointer;
    }
    .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
    .small-chart-container {
      height: 300px;
    }
    .large-chart-container {
      height: 300px;
    }
    .table-container {
      max-height: 300px;
      overflow-y: auto;
    }
    .home-section {
      overflow-y: auto;
      height: 100vh;
    }
    .card-header h2 {
      font-size: 1rem;
    }
    .card:active {
      transform: translateY(-5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .icon {
      font-size: 2rem;
      margin-right: 10px;
      vertical-align: middle;
    }
    .header-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
    .section-title {
      margin-top:20px;
      margin-bottom:10px;
      text-align: left;
      font-size: 1.5rem;
      font-weight: 600;
      transition:0.3s ease;
    }

    .section-title:hover{
      color:#25143e;
      font-weight:900;
    }
    .center-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }

    .center-button i, span{
      font-weight:600;
    }

    .icon-button {
      background: none;
      border: none;
      font-size: 1rem;
      cursor: pointer;
    }

    h4.small {
      font-size: 1.1rem;
      margin-bottom: 10px;
      color: #5a5c69;
    }
    .text-header{
      margin: 10px 0 10px 0;
      font-size: 21px;
      font-weight: bold;
      font-family: "Lora", serif !important;
      color: #333;
    }

    /* Logs  */
    .log-container {
      width: 100%;
      max-width: 1420px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
    }

    /* Header Styles */
    .log-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      text-align: center;
    }

    .log-header h2 {
      margin: 10px 0 10px 0;
      font-size: 21px;
      font-weight: bold;
      color: #333;
      font-family: "Lora", serif !important;
      text-transform: uppercase;
    }
    .tb-header{
      text-align: center;
    }

    .center-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom:15px;
    }
    .blurred-bg {
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(5px);
      border-radius: 75%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition:0.15s ease-in;
    }

    .blurred-bg:hover{
      background: rgba(201, 195, 195, 0.7);
    }

    .view-more-button {
      display: inline-block;
      padding: 10px 20px;
      margin-left: 10px;
      margin-right: 20px;
      font-size: 1em;
      font-weight: 600;
      border: none;
      background: #0a5c81;
      border-color: #0a5c81;
      color: white;
      border-radius: 20px;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      transition: 0.3s ease;
    }

    .view-more-button:hover {
      background-color: #042940;
    }

    
    /* Table Styles */
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    thead {
      background-color: #f2f2f2;
    }

    th, td {
      padding: 15px;
      text-align: center;
      vertical-align: middle;
      border-bottom: 1px solid #ddd;
      font-size: 1em;
    }

    th {
      font-weight: bold;
      background-color: #f9f9f9;
    }

    tbody tr:hover {
      background-color: #f1f1f1;
    }

    tbody tr:nth-child(even) {
      background-color: #fafafa;
    }

    /* Responsive Design */
    @media (min-width: 600px) {
      .log-header {
          flex-direction: row;
          align-items: center;
      }
    }

    @media (max-width: 600px) {
      .log-header {
          flex-direction: column;
          align-items: flex-start;
      }

      .log-header h2 {
          font-size: 1.5em;
      }

      .log-header button {
          width: 100%;
          padding: 12px 0;
          font-size: 1em;
      }

      th, td {
          padding: 12px;
          font-size: 0.9em;
      }

      tbody tr {
          display: block;
          margin-bottom: 15px;
          border: 1px solid #ddd;
          border-radius: 5px;
          overflow: hidden;
      }

      tbody tr td {
          display: block;
          text-align: right;
          padding-left: 50%;
          position: relative;
          border: none;
          border-bottom: 1px solid #ddd;
      }

      tbody tr td:last-child {
          border-bottom: none;
      }

      tbody tr td::before {
          content: attr(data-label);
          position: absolute;
          left: 0;
          width: 50%;
          padding-left: 10px;
          font-weight: bold;
          text-align: left;
          color: #333;
      }

      th, td {
          text-align: center;
      }

      td {
          text-align: left;
          padding-left: 0;
      }
    }
